<div class="login">
  <div class="title-head">
    <h1>Đăng nhập tài khoản</h1>
  </div>
  <div class="social">
    <a class="social-fb" href="#">
      <img src="./pages/layout/images/fb.png">
    </a>
    <a class="social-fb" href="#">
      <img src="./pages/layout/images/gg.png">
    </a>
  </div>
  <div class="form">
    <form style="width: 100%">
      <div class="email">
        <input class="form-input"  style="display: block; margin: 0 auto; width: 80% "  placeholder=" " type="email" name="email">
        <label class="form-label" for="">Email</span></label>
        <span></span>
      </div>
      <div class="pass">
        <input class="form-input" style="display: block; margin: 0 auto; width: 80% " placeholder=" " type="password" name="password">
        <label class="form-label" for="">Mật khẩu</label>
        <span></span>
      </div>
      <div class="login-btn">
        <button class="btn-log" ng-click="login(user)">Đăng nhập</button>
        <a href="quenmatkhau.html" class="forgot-pass">Quên mật khẩu ?</a>
      </div>
      <p class="no-acc">
        Bạn chưa có tài khoản ? đăng kí <a href="#!/pages/layout/register">tại đây</a>
      </p>
    </form>
  </div>
</div>